h1 {
  color: #ff8c00;
  }

h2 {
  font-style: italic;
  font-weight: bold;
  color: #55676b;
}

p {
  color: #bdb76b;
}

body { 
  background-color: #f0f8ff;
  font-family: serif;
  text-align: justify;
}

